---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Food Name">
  <main>
    <header>
      <h1>Bread</h1>
    </header>
    <p>Description of food.</p>
    <ul>
      <li>Preparation Time:</li>
      <li>Cooking Time:</li>
      <li>Servings:</li>
    </ul>
    <h3>Ingredients</h3>
    <ul>
      <li>Ingredient</li>
    </ul>
    <h3>Recipe</h3>
    <ol>
      <li>Recipe steps</li>
    </ol>
    <h3>Notes</h3>
  </main>
</Layout>
