---
import Layout from "../../layouts/Layout.astro";
export const frontmatter = {
    title: "Banana Lumpia",
    ingredients: [
        "Lumpia Wrappers",
        "Banana",
        "Brown Suagr",
        "Cinnamon",
        "Flour",
    ],
};
---

<Layout title="Banana Lumpia">
    <main>
        <header>
            <h1>Banana Lumpia</h1>
        </header>
        <p>A sweet treat.</p>
        <ul>
            <li>Preparation Time: 15 minutes</li>
            <li>Cooking Time: 15 minutes</li>
            <li>Servings: 24 Lumpia</li>
        </ul>
        <h3>Ingredients</h3>
        <ul>
            <li>Lumpia Wrappers</li>
        </ul>
        <h3>Recipe</h3>
        <ol>
            <li>1.</li>
        </ol>
        <h3>Notes</h3>
        <p>
            Adapted from: <a
                href="https://onohawaiianrecipes.com/recipes/banana-lumpia/#recipe"
                >'Ono Hawaiian Recipes</a
            >
        </p>
    </main>
</Layout>
