---
import Layout from "../../layouts/Layout.astro";
export const frontmatter = {
    title: "Banana Bread",
    ingredients: ["Bananas", "Flour", "Eggs", "Sugar", "baking soda", "salt"],
};
---

<Layout title="Banana Bread">
    <main>
        <header>
            <h1>Banana Bread</h1>
        </header>
        <p>A sweet treat.</p>
        <ul>
            <li>Preparation Time: 15 minutes</li>
            <li>Cooking Time: 60 minutes</li>
            <li>Servings: 1 loaf</li>
        </ul>
        <h3>Ingredients</h3>
        <ul>
            <li>2 cups mashed ripe bananas</li>
            <li>4 eggs</li>
            <li>2/3 cup melted butter or vegetable oil</li>
            <li>2 cups all purpose flour</li>
            <li>2 cups sugar</li>
            <li>1 teaspoon baking powder</li>
            <li>1.5 teaspoons salt</li>
            <li>1 scoop protein powder*</li>
            <li>Chopped dark chocolate*</li>
        </ul>
        <h3>Recipe</h3>
        <ol>
            <li>1. In a bowl combine mashed bananas, eggs, and oil.</li>
            <li>
                2. In a separate bowl, combine the flour, sugar, protein powder
                baking soda, and salt.
            </li>
            <li>
                3. Mix the dry ingredients into the wet ingredients to create a
                batter.
            </li>
            <li>
                4. Pour the batter into a loaf pan covered in butter then
                floured.
            </li>
            <li>
                5. Place the pan into a 325F oven and bake for 50-60 minutes
                until a tooth pick poked into the center comes out clean.
            </li>
        </ol>
        <h3>Notes</h3>
        <p>
            Adapted from: <a
                href="https://cravingsbychrissyteigen.com/blogs/recipes/chrissy-teigen-banana-bread"
                >Cravings by Chrissy Teigen</a
            >
        </p>
    </main>
</Layout>
