---
import Layout from "../../layouts/Layout.astro";
export const frontmatter = {
    title: "Banana Lumpia",
    ingredients: [
        "Lumpia Wrappers",
        "Apple Bananas",
        "Brown Sugar",
        "Cinnamon",
        "Flour",
        "Oil",
    ],
};
---

<Layout title="Banana Lumpia">
    <main>
        <header>
            <h1>Banana Lumpia</h1>
        </header>
        <h3>A Sweet Treat</h3>
        <ul>
            <li>Preparation Time: 15 minutes</li>
            <li>Cooking Time: 15 minutes</li>
        </ul>
        <h3>Ingredients</h3>
        <ul>
            <li>Lumpia Wrappers</li>
            <li>Apple Bananas</li>
            <li>Brown Sugar</li>
            <li>Cinnamon</li>
            <li>Frying Oil</li>
            <li>AP Flour</li>
            <li>Water</li>
        </ul>
        <h3>Recipe</h3>
        <ol>
            <li>Peel and cut Bananas in half.</li>
            <li>
                Sprinkle equal parts brown sugar and Cinnamon on a plate and
                roll Banana halves in mixture
            </li>
            <li>Mix 1 teaspoon of flour and 1 teaspoon of water in a bowl</li>
            <li>
                Place a Banana half on the top of a lumpia wrapper with the ends
                of the Banana pointing to the corners of the wrapper. Roll the
                banana in the wrapper until half way, fold in the edges and wrap
                the rest of the way, painting the last corner with a dab of the
                flour mixture.
            </li>
            <li>
                Heat oil to 350 degrees F and fry lumpia until golden brown.
            </li>
        </ol>
        <h3>Notes</h3>
        <p>
            Adapted from: <a
                href="https://onohawaiianrecipes.com/recipes/banana-lumpia/#recipe"
                >'Ono Hawaiian Recipes</a
            >
        </p>
    </main>
</Layout>
