---
import Layout from "../../layouts/Recipe-Layout.astro";
---

<Layout title="Bread">
  <main>
    <header>
      <h1>Bread</h1>
    </header>
    <p>
      Basic bread recipe good for sandwiches and dipping into soups and sauces.
    </p>
    <ul>
      <li>Preparation Time: 7 -27 hours</li>
      <li>Cooking Time: 20 minutes</li>
      <li>Servings: 2 loaves</li>
    </ul>
    <h3>Ingredients</h3>
    <ul>
      <li>550g Bread Flour</li>
      <li>50g Whole Wheat Flour</li>
      <li>400g Water</li>
      <li>3g Yeast</li>
      <li>12g Salt</li>
    </ul>
    <h3>Recipe</h3>
    <ol>
      <li>
        Create a poolish by mixing 150g room temperature water, 150g bread
        flour, and a pinch of yeast. Let sit at room temperature for at least 4
        hours but ideally 24 hours.
      </li>
      <li>
        To create a Tangzhong, mix together 30g bread flour and 150g water in a
        small sauce pot. Heat on the stove over medium heat until the mixture
        reaches 149°F or it begins to thicken. Let cool to room temperature.
      </li>
      <li>
        Mix together in a bowl 100g warm water, 2g yeast, cooled Tangzhong, and
        rested poolish.
      </li>
      <li>
        Mix in 370g flour, 50g whole wheat flour, and 12g salt until combined.
      </li>
      <li>Knead dough together until there is no dry flour remaining.</li>
      <li>Cover dough and let rest for 30 minutes.</li>
      <li>
        Stretch the dough and fold it in on itself until the dough it taut. Let
        rest for 30 minutes then fold again and rest for another 60 minutes.
      </li>
      <li>Flour a surface and flip the dough onto it.</li>
      <li>
        Flatten the dough slightly, shape into a rectangle, and pop any large
        bubbles.
      </li>
      <li>
        Cut the dough into two pieces, fold the pieces over themselves like a
        letter, and place the folded doughs onto a piece of parchment paper.
      </li>
      <li>Cover the dough and let rest for 1 hour.</li>
      <li>Preheat the oven to 480°F. Bake the bread for 20 minutes.</li>
      <li>
        Let cool for an hour before cutting to allow center to properly set.
      </li>
    </ol>
    <h3>Notes</h3>
    <p>
      Adapted from: https://www.brianlagerstrom.com/recipes/1-dough-3-loaves-2
    </p>
  </main>
</Layout>
