---
import Layout from "../../layouts/Layout.astro";
export const frontmatter = {
    title: "Chocolate Chip Cookies",
    ingredients: [
        "Flour",
        "Butter",
        "Chocolate Chips",
        "Sugar",
        "Brown Sugar",
        "Vanilla Extract",
        "Eggs",
    ],
};
---

<Layout title="Chocolate Chip Cookies">
    <main>
        <header>
            <h1>Chocolate Chip Cookies</h1>
        </header>
        <h3>Delicious Cookies</h3>
        <ul>
            <li>Preparation Time: 30 Minutes</li>
            <li>Cooking Time: 20 Minutes</li>
            <li>Servings: 24 Medium Cookies</li>
        </ul>
        <h3>Ingredients</h3>
        <ul>
            <li>16 Tablespoons Butter</li>
            <li>1/2 Cup Sugar</li>
            <li>1 ½ Cups Brown Sugar</li>
            <li>2 Teaspoons Instant Coffee</li>
            <li>2 Teaspoons Salt</li>
            <li>½ Teaspoon Baking Soda</li>
            <li>2 Eggs</li>
            <li>2 Teaspoons Vanilla Extract</li>
            <li>2 ½ Cups AP Flour</li>
            <li>6 oz Chocolate Chips</li>
        </ul>
        <h3>Recipe</h3>
        <ol>
            <li>
                Place 16 tbsp butter in a pot and cook over medium low heat
                until milk solids begin to brown. Let cool to room temp.
            </li>
            <li>
                Mix everything in a bowl except flour and chocolate chips. Once
                ingredients are combined add flour and mix until a dough forms.
                Add chocolate chips and mix util dispersed throughout the dough.
            </li>
            <li>Cool the cookie dough in a fridge until the dought hardens.</li>
            <li>
                Scoop cooled dough into table spoon portions and freeze or
                proceed to cooking instructions.
            </li>
            <li>
                Heat oven to 300 degrees F and bake cookies for 20 minutes. Once
                cookies are golden brown, take out of the oven and let cool.
            </li>
        </ol>
        <h3>Notes</h3>
        <p>
            Adapted from: <a href="https://www.youtube.com/watch?v=e1xCU9ydG-A"
                >Alvin Zhou</a
            >
        </p>
    </main>
</Layout>
