---
import Layout from "../../layouts/Layout.astro";
export const frontmatter = {
    title: "Cucumber Salad",
    ingredients: [
        "Japanese Cucumbers",
        "Vinegar",
        "Soy Sauce",
        "Sesame Oil",
        "MSG",
        "Salt",
        "Gochugaru",
        "Sugar",
        "Garlic",
        "Sesame Seeds",
    ],
};
---

<Layout title="Cucumber Salad">
    <main>
        <header>
            <h1>Cucumber Salad</h1>
        </header>
        <p>A salty and lightly spicy snack.</p>
        <ul>
            <li>Preparation Time: 10 minutes</li>
            <li>Servings: 3 Cucumbers</li>
        </ul>
        <h3>Ingredients</h3>
        <ul>
            <li>3 Japanese Cucumbers</li>
            <li>2 Tablespoons Soy Sauce</li>
            <li>2.5 Tablespoons Vinegar</li>
            <li>1.5 Teaspoons Sesame Oil</li>
            <li>1/4 Teaspoons MSG</li>
            <li>1 Tablespoons Salt</li>
            <li>1 Teaspoons Gochugaru</li>
            <li>1/2 Teaspoons Sesame Seeds</li>
            <li>2 Cloves Garlic</li>
            <li>1/2 Tablespoons Sugar</li>
        </ul>
        <h3>Recipe</h3>
        <ol>
            <li>
                Thinly slice the cucumbers and place the slices in a bowl. Pour
                the 1 Tbsp. of salt over the cucumbers and mix. Let the
                cucumbers and salt sit for five minutes.
            </li>
            <li>
                After 5 minutes, rise the salt off of the cucumbers. Put all of
                the ingredients in the bowl with the cucumbers, mix, and they're
                ready to eat.
            </li>
        </ol>
        <h3>Notes</h3>
        Adapted from: <a
            href="https://christieathome.com/blog/spicy-asian-cucumber-salad/"
            >Christie at Home</a
        >
    </main>
</Layout>
