---
import Layout from "../../layouts/Layout.astro";
export const frontmatter = {
    title: "Dashi (Fish and Kelp soup broth)",
    ingredients: ["Water", "Dashi Powder", "Soy sauce", "Mirin", "Sugar"],
};
---

<Layout title="Dashi (Fish and Kelp soup broth)">
    <main>
        <header>
            <h1>Dashi (Fish and Kelp soup broth)"</h1>
        </header>
        <p>Basic Japanese soup base for things like ramen and udon.</p>
        <ul>
            <li>Preparation Time: 1 minute</li>
            <li>Cooking Time: 10 minutes</li>
            <li>Servings: 1 liter of soup base</li>
        </ul>
        <h3>Ingredients</h3>
        <ul>
            <li>1 liter water</li>
            <li>2 Packets dashi powder<sup>*</sup></li>
            <li>3 tablespoons soy sauce</li>
            <li>2 tablespoons mirin<sup>**</sup></li>
            <li>2 teaspoons sugar</li>
            <li>1/4 teaspoon salt</li>
        </ul>
        <h3>Recipe</h3>
        <ol>
            <li>
                Bring the liter of water to a boil in a pot. Add the 2 packets
                of dashi stock powder, 3 tbsp. soy sauce, 2 tbsp. mirin, 2 tsp.
                sugar, and 1/4 tsp. salt. Stir and boil until the salt and sugar
                have dissolved. Once dissolved the soup is ready to use.
            </li>
        </ol>
        <h3>Notes</h3>
        <ul>
            <li>*: I use Shimaya dashi powder</li>
            <li>
                **: I use hon mirin, aji-mirin will work too, just omit
                the sugar due to the added sugar in the aji-mirin
            </li>
            <li>
                Adapted from: <a
                    href="https://www.bonappetit.com/recipe/kake-udon-noodle-soup"
                    >Namiko Hirasawa Chen</a
                >
            </li>
        </ul>
    </main>
</Layout>
