---
import Layout from "../../layouts/Layout.astro";
export const frontmatter = {
  title: "Eggless Gnocchi",
  ingredients: ["Potatoes", "Salt", "Olive Oil", "AP Flour"],
};
---

<Layout title="Eggless Gnocchi">
  <main>
    <header>
      <h1>Eggless Gnocchi</h1>
    </header>
    <p>Gnocchi without eggs.</p>
    <ul>
      <li>Preparation Time: 30 minutes</li>
      <li>Cooking Time: 10 minutes</li>
      <li>Servings: 2 pounds cooked Gnocchi</li>
    </ul>
    <h3>Ingredients</h3>
    <ul>
      <li>535g potatoes</li>
      <li>5g salt</li>
      <li>20g olive oil</li>
      <li>284g all purpose flour</li>
    </ul>
    <h3>Recipe</h3>
    <ol>
      <li>
        Cut the potatoes into large cubes and boil until a fork can easily be
        poked through one of the cubes.
      </li>
      <li>
        In a bowl, mash the potatoes using a potato ricer or by pushing the
        potatoes through a sieve.
      </li>
      <li>
        Add of the rest of the ingredients into the bowl with the mashed
        potatoes and mix them until a smooth dough forms.
      </li>
      <li>
        Pull off little dough balls using a tablespoon then roll them into
        Gnocchi by pressing the dough against the back of a fork. Place the
        rolled Gnocchi on a floured surface.
      </li>
      <li>
        Bring a pot of salted water to a boil and add the Gnocchi in batches.
        Once they float to the top, let them cook for another minute before
        removing them with a slotted spoon, around 4 minutes and thirty seconds.
      </li>
    </ol>
    <h3>Notes</h3>
    <p>
      Adapted from: <a
        href="https://www.thecuriouschickpea.com/homemade-vegan-gnocchi-recipe/"
        >The Curious Chickpea</a
      >
    </p>
  </main>
</Layout>
