---
import Layout from "../../layouts/Layout.astro";
export const frontmatter = {
    title: "Matcha Latte",
    ingredients: ["Matcha", "Oat Milk", "Honey", "Artificial Sweetener"],
};
---

<Layout title="Matcha Latte">
    <main>
        <p>A Nice Sweet Treat.</p>
        <ul>
            <li>Preparation Time: 5 minutes</li>
            <li>Servings: One cup</li>
            <li></li>
        </ul>
        <h3>Ingredients</h3>
        <ul>
            <li>1 Cup Water</li>
            <li>1 Teaspoon Matcha</li>
            <li>1 Teaspoon Honey</li>
            <li>1/2 Teaspoon Artificial Sweetener</li>
            <li>3/4 Cup Oat Milk</li>
        </ul>
        <h3>Recipe</h3>
        <ol>
            <li>Boil 1 cup of water.</li>
            <li>
                Add 1 Teaspoon of Match, 1 Teaspoon of Honey, and 1/2 Teaspoon
                of Artificial Sweetener to a cup and whisk together with boiling
                water.
            </li>
            <li>Add in 3/4 Cup Oat Milk and stir together.</li>
        </ol>
        <h3>Notes</h3>
        <p>Adapted from: My fiancee :)</p>
    </main>
</Layout>
