---
import Layout from "../../layouts/Layout.astro";
export const frontmatter = {
    title: "Milk Zero",
    ingredients: ["Milk", "Coke Zero", "Ice"],
};
---

<Layout title="Milk Zero">
    <main>
        <header>
            <h1>Milk Zero</h1>
        </header>
        <p>A sweet treat.</p>
        <ul>
            <li>Preparation Time: 1 minute</li>
            <li>Servings: 1 cup</li>
        </ul>
        <h3>Ingredients</h3>
        <ul>
            <li>1 part Milk</li>
            <li>3 parts Coke zero</li>
            <li>Ice</li>
        </ul>
        <h3>Recipe</h3>
        <ol>
            <li>1. Place Ice in the glass.</li>
            <li>2. Pour Milk and Coke Zero into the glass.</li>
            <li>3. Stir together and enjoy.</li>
        </ol>
        <h3>Notes</h3>
        <p>Adapted from: My Fiancee :)</p>
    </main>
</Layout>
