---
import Layout from "../../layouts/Layout.astro";
export const frontmatter = {
    title: "Jjajangmyeon (Black Bean Noodles)",
    ingredients: [
        "Noodles",
        "Pork",
        "Onion",
        "Black Bean Paste",
        "Potato",
        "Starch",
        "Sesame Oil",
    ],
};
---

<Layout title="Jjajangmyeon (Black Bean Noodles)">
    <main>
        <h3>A Delicious Savory Meal</h3>
        <ul>
            <li>Preparation Time: 5 minutes</li>
            <li>Cooking Time: 15 minutes</li>
            <li>Servings: 4 Portions</li>
        </ul>
        <h3>Ingredients</h3>
        <ul>
            <li>Pasta Noodles</li><li>
                ½ pound pork, cut into ½ inch cubes
            </li><li>1 cup of potato, peeled and cut into ½ inch cubes</li><li>
                1½ cups of onion chunks
            </li><li>3 tablespoons of vegetable oil</li><li>
                A heaped ¼ cup of chunjang (Korean black bean paste)
            </li><li>
                2 tablespoons of potato starch powder , combined with ¼ cup
                water and 1 teaspoon of sugar in a small bowl
            </li><li>1 teaspoon of toasted sesame oil</li><li>water</li>
        </ul>
        <h3>Recipe</h3>
        <ol>
            <li>Placeholder</li>
        </ol>
        <h3>Notes</h3>
        <p>
            Adapted from: <a href="https://www.maangchi.com/recipe/jjajangmyeon"
                >Maangchi</a
            >
        </p>
    </main>
</Layout>
