---
import Layout from "../../layouts/Layout.astro";
export const frontmatter = {
    title: "Pancakes",
    ingredients: [
        "AP Flour",
        "Sugar",
        "Baking Powder",
        "Salt",
        "Butter",
        "Milk",
        "Egg",
        "Vanilla",
    ],
};
---

<Layout title="Pancakes">
    <main>
        <header>
            <h1>Bread</h1>
        </header>
        <p>
            Basic bread recipe, good for sandwiches and dipping into soups and
            sauces.
        </p>
        <ul>
            <li>Preparation Time: 5 minutes</li>
            <li>Cooking Time: 5 minutes</li>
            <li>Servings: 8 Pancakes</li>
        </ul>
        <h3>Ingredients</h3>
        <ul>
            <li>125g All purpose Flour</li>
            <li>15g sugar</li>
            <li>15g malted milk powder<sup>*</sup></li>
            <li>1.5 teaspoons baking powder</li>
            <li>1/2 teaspoon salt</li>
            <li>1/4 teaspoon baking soda</li>
            <li>70g butter</li>
            <li>1/2 cup milk<sup>**</sup></li>
            <li>1 egg</li>
            <li>1.5 teaspoons vanilla extract</li>
        </ul>
        <h3>Recipe</h3>
        <ol>
            <li>
                In a bowl, mix 125g all purpose flour, 15g sugar, 15g malted
                milk powder, 1.5 tsp. baking powder, 1/4 tsp. basking soda, and
                1/2 tsp. salt. Melt 70g butter and add it to the bowl. Add 1/2
                cup milk, 1 egg, and 1.5 tsp. vanilla extract to the bowl and
                whisk just until smooth.
            </li>
            <li>
                Heat a pan or griddle to 350 degrees fahrenheit and scoop batter
                using a 1/3 cup measuring cup. Cook on one side until edges just
                start to solidify then flip to cook other side. Once golden
                brown on both sides, take the pancakes out of the pan and
                they're ready to eat.
            </li>
        </ol>
        <h3>Notes</h3>
        <ul>
            <li>
                *: Malted milk powder can be substituted with an equal amount of
                vanilla protein powder or omitted all together.
            </li>
            <li>
                **: Milk can be substituted with an equal amount of water and an
                additional five grams of butter.
            </li>
            <li>
                Adapted from: <a
                    href="https://www.seriouseats.com/thick-and-fluffy-pancakes"
                    >Stella Parks</a
                >
            </li>
        </ul>
    </main>
</Layout>
