---
import Layout from "../../layouts/Layout.astro";
export const frontmatter = {
    title: "Pizza Dough",
    ingredients: [
        "Bread Flour",
        "Sugar",
        "Water",
        "Yeast",
        "Salt",
        "Olive oil",
    ],
};
---

<Layout title="Pizza Dough">
    <main>
        <header>
            <h1>Pizza Dough</h1>
        </header>
        <p>Basic pizza dough recipe.</p>
        <ul>
            <li>Preparation Time: 1 hour five minutes</li>
            <li>Servings: 1 pizza dough ball/li></li>
        </ul>
        <h3>Ingredients</h3>

        <ul>
            <li>210g Bread Flour</li>
            <li>5g sugar</li>
            <li>3.3g salt</li>
            <li>3.3g instant yeast</li>
            <li>11g olive oil</li>
            <li>140g warm water</li>
        </ul>
        <h3>Recipe</h3>
        <ol>
            <li>
                Combine flour, sugar, salt, and yeast in a bowl and mix. Once
                ingredients are evenly spread throughout, add olive oil and
                water. Mix until no flour is visible then knead for a minute
                until the dough starts to become taught.
            </li>
            <li>
                Cover the dough and let rise for 30 minutes at room temperature.
                After 30 minutes has passed, knead the dough again, cover, and
                let rest for 30 more minutes. After 30 minutes the dough is
                ready to bake.
            </li>
        </ol>
        <h3>Notes</h3>
        <p>
            Adapted from: <a
                href="https://www.seriouseats.com/basic-new-york-style-pizza-dough"
                >J. Kenji Lopez Alt</a
            >
        </p>
    </main>
</Layout>
