---
import Layout from "../../layouts/Layout.astro";
export const frontmatter = {
    title: "Kimchi Stew",
    ingredients: [
        "Kimchi",
        "Pork",
        "Tofu",
        "Green Onion",
        "Onion",
        "Gochugaru",
        "Gochujang",
        "Sesame Oil",
        "Fish Broth",
    ],
};
---

<Layout title="Kimchi Stew">
    <main>
        <h3>A Delicious Savory Meal</h3>
        <ul>
            <li>Preparation Time: 5 minutes</li>
            <li>Cooking Time: 25 minutes</li>
            <li>Servings: 4 Portions</li>
        </ul>
        <h3>Ingredients</h3>
        <ul>
            <li>1 pound kimchi cut into bite size pieces</li><li>
                ½ pound pork shoulder or pork belly
            </li><li>
                ½ package of tofu sliced into ½ inch thick bite size pieces
            </li><li>3 green onions</li><li>1 medium onion, sliced</li><li>
                1 teaspoon kosher salt
            </li><li>2 teaspoons sugar</li><li>2 teaspoons gochugaru</li><li>
                1 tablespoon gochujang
            </li><li>1 teaspoon sesame oil</li><li>2 cups of fish broth</li>
        </ul>
        <h3>Recipe</h3>
        <ol>
            <li>
                Place the kimchi, pork, onions, green onions, salt, sugar,
                gochugaru, gochujang, sesame oil, and fish broth to a pot.
            </li>
            <li>Cover and cook for 10 minutes over medium high heat.</li>
            <li>
                Open the pot and mix everything together. Place the sliced tofu
                on top, cover the pot, and cook for another 10-15 minutes.
            </li>
        </ol>
        <h3>Notes</h3>
        <p>
            Adapted from: <a
                href="https://www.maangchi.com/recipe/kimchi-jjigae">Maangchi</a
            >
        </p>
    </main>
</Layout>
