---
import Layout from "../../layouts/Layout.astro";
export const frontmatter = {
    title: "Pork Lumpia",
    ingredients: [
        "Ground Pork",
        "Lumpia Wrappers",
        "Yellow Onion",
        "Green Onion",
        "Carrot",
        "Green Cabbage",
        "Garlic",
        "Ginger",
        "Soy Sauce",
        "Cilantro",
    ],
};
---

<Layout title="Pork Lumpia">
    <main>
        <h3>A flavourful, crispy pork lumpia recipe.</h3>
        <ul>
            <li>Preparation Time: 1 hour</li>
            <li>Cooking Time: 20 minutes</li>
            <li>Servings: 30 lumpia</li>
        </ul>
        <h3>Ingredients</h3>
        <ul>
            <li>Vegetable oil</li>
            <li>½ cup finely chopped yellow onion</li>
            <li>½ cup finely chopped green onion</li>
            <li>1 pound ground pork</li>
            <li>½ cup grated carrots, squeezed of excess moisture</li>
            <li>½ cup finely chopped green cabbage</li>
            <li>1 tablespoon garlic paste</li>
            <li>1 tablespoon ginger paste</li>
            <li>1 tablespoon soy sauce</li>
            <li>2 tablespoons chopped fresh cilantro</li>
            <li>1 teaspoon kosher salt</li>
            <li>½ teaspoon ground black pepper</li>
            <li>30 lumpia wrappers</li>
            <li>1 egg, beaten</li>
        </ul>
        <h3>Recipe</h3>
        <ol>
            <li>
                Heat a tablespoon of oil in a large pan or wok, and add the
                yellow onion. Cook a couple minutes, then add the green onion
                and stir.
            </li>
            <li>
                Add the pork and cook, breaking up as you go, just until the
                pink color is gone. Add the carrot and cabbage and mix.
            </li>
            <li>
                Clear out the center and add the garlic and ginger paste. When
                fragrant, stir it in along with the soy, salt, pepper and
                cilantro. Mix well and let cool.
            </li>
            <li>
                Place a wrapper on a flat surface with a corner pointing towards
                you. Add about 2 tablespoons of the mix about ⅓ of the way up,
                fold over the filling with the bottom point, bring in the sides
                to overlap, then roll away from you (keeping it snug). Brush a
                little of the beaten egg on the top corner before sealing tight.
            </li>
            <li>
                Heat an inch of oil in a pot to 350°F. Gently add the lumpia and
                cook, turning occasionally, until all sides are golden brown.
            </li>
            <li>
                Transfer to a paper towel-lined plate to drain, and repeat with
                remaining lumpia.
            </li>
        </ol>
        <h3>Notes</h3>
        <p>
            Adapted from: <a
                href="https://www.thecookingguy.com/recipes/filipino-lumpia"
                >Sam the Cooking Guy</a
            >
        </p>
    </main>
</Layout>
