---
import Layout from "../../layouts/Layout.astro";
export const frontmatter = {
    title: "Pork Ragu",
    ingredients: ["Noodles"],
};
---

<Layout title="Pork Ragu">
    <main>
        <h3>A Delicious Savory Meal</h3>
        <ul>
            <li>Preparation Time: 15 minutes</li>
            <li>Cooking Time: 3 hours</li>
            <li>Servings: 4 Portions</li>
        </ul>
        <h3>Ingredients</h3>
        <ul></ul>
        <h3>Recipe</h3>
        <ol>
            <li>Placeholder</li>
        </ol>
        <h3>Notes</h3>
        <p>
            Adapted from: <a
                href="https://mangiawithmichele.com/pork-ragu-recipe/#wprm-recipe-container-5871"
                >Mangia With Michele</a
            >
        </p>
    </main>
</Layout>
