---
import Layout from "../../layouts/Layout.astro";
export const frontmatter = {
    title: "Pork Gyoza",
    ingredients: [
        "Ground Pork",
        "Gyoza Wrappers",
        "Nappa Cabbage",
        "Scalions",
        "Garlic",
        "Ginger",
    ],
};
---

<Layout title="Pork Gyoza">
    <main>
        <header>
            <h1>Pork Gyoza</h1>
        </header>
        <p>A flavourful, crispy pork gyoza recipe.</p>
        <ul>
            <li>Preparation Time: 1 hour</li>
            <li>Cooking Time: 30 minutes</li>
            <li>Servings: 50 Gyoza</li>
        </ul>
        <h3>Ingredients</h3>
        <ul>
            <li>1 pound ground pork</li>
            <li>1 pound minced Nappa cabbage</li>
            <li>50 Goyza/Dumpling wrapers</li>
            <li>2 ounces minced scallions</li>
            <li>3 cloves minced garlic</li>
            <li>1 teaspoon minced ginger</li>
            <li>1 tablespoon salt</li>
            <li>2 teaspoons sugar</li>
            <li>1 teaspoon white pepper</li>
            <li>Cooking oil</li>
        </ul>
        <h3>Recipe</h3>
        <ol>
            <li>1.</li>
        </ol>
        <h3>Notes</h3>
        <p>
            Adapted from: <a
                href="https://www.seriouseats.com/the-best-japanese-pork-and-cabbage-dumplings-gyoza-recipe"
                >J. Kenji Lopez-Alt
            </a>
        </p>
    </main>
</Layout>
