---
import Layout from "../../layouts/Layout.astro";
export const frontmatter = {
    title: "Pork Lumpia",
    ingredients: [
        "Ground Pork",
        "Lumpia Wrappers",
        "Onion",
        "Carrot",
        "Garlic",
        "Ginger",
    ],
};
---

<Layout title="Pork Lumpia">
    <main>
        <header>
            <h1>Pork Lumpia</h1>
        </header>
        <p>A flavourful, crispy pork lumpia recipe.</p>
        <ul>
            <li>Preparation Time: 1 hour</li>
            <li>Cooking Time: 30 minutes</li>
            <li>Servings: 30 lumpia</li>
        </ul>
        <h3>Ingredients</h3>
        <ul>
            <li>1 pound ground pork</li>
        </ul>
        <h3>Recipe</h3>
        <ol>
            <li>1.</li>
        </ol>
        <h3>Notes</h3>
        <p>
            Adapted from: <a
                href="https://www.thecookingguy.com/recipes/filipino-lumpia"
                >Sam the Cooking Guy</a
            >
        </p>
    </main>
</Layout>
