---
import Layout from "../../layouts/Layout.astro";
export const frontmatter = {
    title: "Pork Ragu",
    ingredients: ["Pork", "Pasta", "Onion", "Carrots", "Celery", "Tomatoes"],
};
---

<Layout title="Pork Ragu">
    <main>
        <h3>A Delicious Savory Meal</h3>
        <ul>
            <li>Preparation Time: 15 minutes</li>
            <li>Cooking Time: 3 hours</li>
            <li>Servings: 4 Portions</li>
        </ul>
        <h3>Ingredients</h3>
        <ul>
            <li>2 pounds Pork Shoulder</li>
            <li>1/4 cup Olive Oil</li>
            <li>1 large Yellow Onion</li>
            <li>3 small Carrots</li>
            <li>3 Celery Ribs</li>
            <li>6 Garlic Cloves</li>
            <li>1/2 teaspoon Crushed Red Pepper</li>
            <li>1 1/2 cup Red Wine</li>
            <li>2 (28-ounce) cans Whole Tomatoes</li>
            <li>1 teaspoon Salt</li>
            <li>1 teaspoon Oregano</li>
            <li>1/2 teaspoon Black Pepper</li>
        </ul>
        <h3>Recipe</h3>
        <ol>
            <li>
                Chop the onions, carrots, celery and garlic into small pieces.
            </li>
            <li>
                Heat the 1/4 cup of olive oil in a large pot over medium heat.
            </li>
            <li>
                Add the onions, carrots, celery, garlic, and crushed red pepper
                then stir to coat with the oil. Cook until the vegetables have
                begun to brown.
            </li>
            <li>
                Pour the 1 1/2 cups of wine in the post and scrape up all the
                brown bits.
            </li>
            <li>
                Add the 2 cans of tomatoes, 1 teaspoon of salt, 1 teaspoon dried
                oregano and 1/2 teaspoon black pepper and stir.
            </li>
            <li>
                Add the pork and increase the heat to medium, cover the pot and
                bring the mixture to a rolling simmer. Reduce the heat to
                maintain a low simmer and simmer, covered, for about 90 minutes.
                Then, change the lid to partially covered and continue cooking
                until the meat is fork tender and a thick sauce has developed.
                Stir the mixture occasionally and test the texture of the pork
                every hour.
            </li>
            <li>
                Once done, remove the pork from the pot and shred it then return
                the shredded pork back to the pot.
            </li>
            <li>
                Mix 4 cups of ragu sauce with a cooked 1 pound of cooked pasta.
            </li>
        </ol>
        <h3>Notes</h3>
        <p>
            Adapted from: <a
                href="https://mangiawithmichele.com/pork-ragu-recipe/#wprm-recipe-container-5871"
                >Mangia With Michele</a
            >
        </p>
    </main>
</Layout>
