---
import Layout from "../../layouts/Layout.astro";
export const frontmatter = {
    title: "Potato Curry",
    ingredients: ["Potato Curry", "Oil", "Tomato"],
};
---

<Layout title="Potato Curry">
    <main>
        <header>
            <h1>Potato Curry</h1>
        </header>
        <p>A delicious savory meal.</p>
        <ul>
            <li>Preparation Time: 15 minutes</li>
            <li>Cooking Time: 30 minutes</li>
            <li>Servings: 4 Portions</li>
        </ul>
        <h3>Ingredients</h3>
        <ul>
            <li>Potatoes</li>
        </ul>
        <h3>Recipe</h3>
        <ol>
            <li>1.</li>
        </ol>
        <h3>Notes</h3>
        <p>
            Adapted from: <a href="https://www.youtube.com/watch?v=k4Su_9NdraE"
                >Curries With Bumbi</a
            >
        </p>
    </main>
</Layout>
