---
import Layout from "../../layouts/Layout.astro";
export const frontmatter = {
    title: "Potato Curry",
    ingredients: [
        "Potato",
        "Oil",
        "Bay Leaf",
        "Ginger",
        "Tomato",
        "Chili Powder",
        "Tumeric",
        "Water",
        "Sugar",
        "Garam Masala",
    ],
};
---

<Layout title="Potato Curry">
    <main>
        <h3>A delicious savory meal.</h3>
        <ul>
            <li>Preparation Time: 15 minutes</li>
            <li>Cooking Time: 30 minutes</li>
            <li>Servings: 4 Portions</li>
        </ul>
        <h3>Ingredients</h3>
        <ul>
            <li>1 teaspoon turmeric powder</li>
            <li>1 teaspoon red chilli powder</li>
            <li>1 1/2 Cup Water</li>
            <li>3 Tablespoons Vegetable Oil</li>
            <li>1/2 Teaspoon Fennel</li>
            <li>1/2 Teaspoon Mustard Seeds</li>
            <li>1 dry bay leaf</li>
            <li>4 medium potatoes cut into cubes</li>
            <li>2 teaspoons finely grated ginger</li>
            <li>1 medium tomato</li>
            <li>1 teaspoon salt</li>
            <li>1/2 teaspoon sugar</li>
            <li>1/2 teaspoon garam masala powder</li>
        </ul>
        <h3>Recipe</h3>
        <ol>
            <li>
                Add 1 teaspoon chili powder, 1 teaspoon tumeric powder, and 1/4
                cup of water to a cup and mix together.
            </li>
            <li>
                Add 3 tablesspoons of vegtable oil to a pot over medium heat.
            </li>
            <li>
                Add bay leaf, 1/2 teaspoon fennel seeds and 1/2 teaspoon mustard
                seeds to oil. Mix to cover in oil.
            </li>
            <li>
                Add cubed potatoes to the pot and fry until they being to turn
                golden around the edges.
            </li>
            <li>
                Add chili and tumeric powder mixture to pot, rinse cup out with
                an extra 1/4 cup of water, and add the rinse water to the pot.
            </li>
            <li>
                Stir the pot until the mixture begins to thicken. Add the 2
                teaspoons of grated giner, tomato, and 1 teaspoon of salt to the
                pot and mix. Cover the pot and let cook for three minutes.
            </li>
            <li>
                Squish the tomatoes then add the 1/2 teaspoon of sugar and 1 cup
                of hot water to the pot, mix.
            </li>
            <li>
                Cover the pot and cook on low heat for 10 minutes. Once the
                potatoes have softened, smash a couple potatoes to thicken the
                gravy and add 1/2 teaspoon garam masala powder.
            </li>
        </ol>
        <h3>Notes</h3>
        <p>
            Adapted from: <a href="https://www.youtube.com/watch?v=k4Su_9NdraE"
                >Curries With Bumbi</a
            >
        </p>
    </main>
</Layout>
