---
import Layout from "../../layouts/Layout.astro";
export const frontmatter = {
  title: "Soy Sauce Broccoli",
  ingredients: ["Broccoli", "Soy Sauce","Sesame Oil", "MSG", "Pepper", "Salt"],
};
---

<Layout title="Soy Sauce Broccoli">
  <main>
    <header>
      <h1>Soy Sauce Broccoli</h1>
    </header>
    <p>
      A salty and savory dish that is good as a side and snack.
    </p>
    <ul>
      <li>Preparation Time: 5 minutes</li>
      <li>Cooking Time: 10 minutes</li>
      <li>Servings: 12 OZ of Broccoli</li>
    </ul>
    <h3>Ingredients</h3>
    <ul>
      <li>12OZ of Broccoli Florets</li>
      <li>3 Tbsp Soy Sauce</li>
      <li>1.5 Tbsp Sesame Oil</li>
      <li>1 Tsp MSG</li>
      <li>1 Tsp Salt</li>
      <li>.25 Tsp pepper</li>
    </ul>
    <h3>Recipe</h3>
    <ol>
      <li>
        Steam the broccoli until it starts to turn a dark green and softens but still has a slight crunch to it. 
        About 10 minutes.
      </li>
      <li>
        Place the broccoli into a colander and let it drain. Once it has drained place the broccoli into a dish.
      </li>
      <li>
        Pour soy sauce, sesame oil, MSG, salt, and pepper over the broccoli florets. Stir to evenly distribute
        ingredients over broccoli. Enjoy. 
      </li>
    </ol>
    <h3>Notes</h3>
    <p>
      Adapted from: A recipe my friend Mia shared with me.
    </p>
  </main>
</Layout>
