---
import Layout from "../../layouts/Layout.astro";
export const frontmatter = {
    title: "Spinach Side Dish",
    ingredients: [
        "Spinach",
        "Garlic",
        "Green Onion",
        "Soy Sauce",
        "Sesame Oil",
        "Sesame Seeds",
    ],
};
---

<Layout title="Spinach Side Dish">
    <main>
        <h3>A Delicious Savory Side Dish</h3>
        <ul>
            <li>Preparation Time: 5 minutes</li>
            <li>Cooking Time: 1 minute</li>
        </ul>
        <h3>Ingredients</h3>
        <ul>
            <li>8 ounces spinach, cleaned and washed</li><li>
                1 garlic clove, minced
            </li><li>1 green onion, chopped</li><li>
                1½ teaspoon soy sauce
            </li><li>1½ teaspoon toasted sesame oil</li><li>
                2 teaspoon toasted sesame seed
            </li>
        </ul>
        <h3>Recipe</h3>
        <ol>
            <li>Boil 8 to 10 cups of water in a large pot.</li><li>
                Blanch the spinach for 30 seconds to 1 minute with lid off,
                stirring with a wooden spoon.
            </li><li>
                Strain the spinach and rinse in cold water a couple of times to
                remove any residual dirt.
            </li><li>
                Squeeze out excess water and cut a few times into bite size
                pieces.
            </li><li>
                Mix the spinach with garlic, green onion, soy sauce, toasted
                sesame oil, and sesame seeds in a mixing bowl by hand.
            </li>
        </ol>
        <h3>Notes</h3>
        <p>
            Adapted from: <a
                href="https://www.maangchi.com/recipe/sigumchi-namul"
                >Maangchi</a
            >
        </p>
    </main>
</Layout>
