---
import Layout from "../../layouts/Layout.astro";
export const frontmatter = {
  title: "Steak",
  ingredients: ["Steak", "Salt", "Oil"],
};
---

<Layout title="Steak">
  <main>
    <header>
      <h1>Steak</h1>
    </header>
    <p>
        A good basic steak recipe.
    </p>
    <ul>
      <li>Preparation Time: 0 - 12 hours</li>
      <li>Cooking Time: 30 minutes</li>
      <li>Servings: 1 Steak</li>
    </ul>
    <h3>Ingredients</h3>
    <ul>
        <li>Steak</li>
        <li></li>
    </ul>
    <h3>Recipe</h3>
    <ol>
    </ol>
    <h3>Notes</h3>
    <p>
      Adapted from: <a
        href="https://www.brianlagerstrom.com/recipes/1-dough-3-loaves-2"
        >Brian Langerstrom</a
      >
    </p>
  </main>
</Layout>
