---
import Layout from "../../layouts/Layout.astro";
export const frontmatter = {
    title: "Stuffed Peppers",
    ingredients: ["Bell Peppers", "Rice", "Onion", "Tomato", "Celery"],
};
---

<Layout title="Stuffed Peppers">
    <main>
        <header>
            <h1>Stuffed Peppers</h1>
        </header>
        <p>A light but filling savory meal.</p>
        <ul>
            <li>Preparation Time: 20 minutes</li>
            <li>Cook Time: 1 hour</li>
            <li>Servings: 8 Stuffed Peppers</li>
        </ul>
        <h3>Ingredients</h3>
        <ul>
            <li>4 Bell Peppers</li>
            <li>3 Tablespoons Olive Oil</li>
            <li>1½ cups cooked rice</li>
            <li>1 yellow onion diced</li>
            <li>2 cups diced tomatoes</li>
            <li>½ cup fresh cilantro</li>
            <li>4 cloves garlic minced</li>
            <li>1 ½ teaspoons chili powder</li>
            <li>1 teaspoon ground cumin</li>
        </ul>
        <h3>Recipe</h3>
        <ol>
            <li>
                Cut the bell peppers in half and remove most of the pith,
                leaving the top of the stem attached to maintain the structural
                stability of the peppers. Place the bell pepper halves on a
                rimmed baking sheet and drizzle 1 Tablespoon of Olive Oil over
                the bell peppers. Rub the oil over the peppers till covered,
                then sprinkle with salt and pepper. Make sure all of the peppers
                are cut side up and bake in an oven at 425F for 20 minutes. When
                the peppers come out of the oven, they should be soft and
                lightly browned but still hold their shape.
            </li>
            <li>
                Add 2 Tablespoons of olive oil to a pan over medium heat. Add
                the onion and half a teaspoon of salt to the pan. Once the onion
                is lightly browned, add the cilantro, garlic, chili powder, and
                cumin, then stir. Add the tomatoes and cook for 5 minutes. Turn
                off the heat and add the rice, stirring until everything is
                evenly distributed. Add salt and pepper to taste.
            </li>
            <li>
                Stuff the peppers with the filling, taking care not to tear the
                flesh of the bell peppers. If there is too much filling, I will
                pile it higher, but it can be saved to eat later.
            </li>
            <li>
                Optionally, top the stuffed peppers with cheese then bake at
                425F for 12 minutes or until the cheese is golden. Once
                the peppers are out of the oven, they are ready to eat. The
                peppers pair well with cilantro, sour cream, and hot sauce.
            </li>
        </ol>
        <h3>Notes</h3>
        Adapted from: <a
            href="https://cookieandkate.com/vegetarian-stuffed-peppers-recipe/"
            >Cookie and Kate</a
        >
    </main>
</Layout>
