---
import Layout from "../../layouts/Layout.astro";
export const frontmatter = {
    title: "Tomato Sauce",
    ingredients: [
        "Tomatoes",
        "Olive oil",
        "Garlic",
        "Onion",
        "Herbs",
        "Salt",
        "Pepper",
    ],
};
---

<Layout title="Tomato Sauce">
    <main>
        <header>
            <h1>Tomato Sauce</h1>
        </header>
        <p>
            A tomato sauce that is better tasting and cheaper than store bought.
        </p>
        <ul>
            <li>Preparation Time: 10 minutes</li>
            <li>Cooking Time: 30 minutes</li>
            <li>Servings: About 28 oz of sauce</li>
        </ul>
        <h3>Ingredients</h3>
        <ul>
            <li>28 oz can of crushed tomatoes</li>
            <li>1/4 cup olive oil</li>
            <li>3 garlic cloves</li>
            <li>1/2 a yellow onion</li>
            <li>Basil, oregano, or dried italian seasoning</li>
            <li>salt</li>
            <li>pepper</li>
        </ul>
        <h3>Recipe</h3>
        <ol>
            <li>
                Mince the 3 garlic cloves and dice the 1/2 of a yellow onion.
            </li>
            <li>
                Add the minced garlic, diced onion, and 1/4 cup olive oil to a
                pot over medium heat. Season lightly with salt and pepper.
            </li>
            <li>
                When the onions have have turned translucent, turn the heat to
                low and add the entire can of tomatoes to the pot along with any
                herbs.
            </li>
            <li>
                Let the tomatoes cook for about 15 minutes until the sauce has
                started to reduce. Taste the sauce and add salt as needed.
            </li>
        </ol>
        <h3>Notes</h3>
        <ul>
            <li>
                For Arabiata: Add 1/2 tablespoon chili flakes along with the
                salt and pepper.
            </li>
        </ul>
        <p>
            Adapted from: <a href="https://www.youtube.com/watch?v=y6Bq8NrdoIk"
                >Internet Shaquile</a
            >
        </p>
    </main>
</Layout>
