---
import Layout from "../../layouts/Layout.astro";
export const frontmatter = {
  title: "Udon",
  ingredients: ["AP Flour", "Water", "Salt"],
};
---

<Layout title="Udon">
  <main>
    <header>
      <h1>Udon</h1>
    </header>
    <p>Homemade Udon noodles.</p>
    <ul>
      <li>Preparation Time: 3.5 hours</li>
      <li>Cooking Time: 10 minutes</li>
      <li>Servings: 2</li>
    </ul>
    <h3>Ingredients</h3>
    <ul>
      <li>200g Flour</li>
      <li>90g Water</li>
      <li>10g salt</li>
    </ul>
    <h3>Recipe</h3>
    <ol>
      <li>
        Stir the salt into the water until dissolved. Mix together the flour and
        the salt water until there is no flour left and form it into ball.
      </li>
      <li>
        Place the dough into a plastic bag and let it rest for 30 minutes.
      </li>
      <li>
        Take the dough out of the bag and knead it until it becomes very soft
        and pliable. Rest for at least 2 hours.
      </li>
      <li>
        Dust a surface with potato or corn starch, normal flour does not work,
        and roll out the dough to your desired thickness keeping in the mind the
        length of the noodles.
      </li>
      <li>
        Dust the surface of the noodles with extra starch and fold the dough
        into a cuttable length. Cut the noodles.
      </li>
      <li>
        Boil 4 cups of unsalted water and drop the noodles in once the water is
        at a rolling boil. Cook until done but chewy, about 10 minutes.
      </li>
    </ol>
    <h3>Notes</h3>
    <p>
      Adapted from: <a href="https://www.justonecookbook.com/udon-noodles/"
        >Just One Cookbook</a
      >
    </p>
  </main>
</Layout>
