---
import Layout from "../layouts/Layout.astro";
---

<Layout title="David's Recipes">
  <main>
    <header><h1>David's Recipes</h1></header>
    <p>My collection of recipes. Still a work in progress.</p>
  </main>
</Layout>
