---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
  <footer>
    <p>
      <a href="/">Home</a>
    </p>
  </footer>
</html>
<style is:global>
  html {
    font-family: monospace;
    color: gold;
    background: #282828;
    margin: auto;
    max-width: 850px;
    font-size: larger;
  }
  h1 {
    text-align: center;
    color: tomato;
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    font-size: 2.5vw;
  }
  h3 {
    color: tomato;
  }
  a {
    color: gold;
    text-decoration: none;
  }
  a:visited {
    color: darkgoldenrod;
  }
  footer {
    text-align: center;
    color: tomato;
    border-width: 2px 0px 0px 0px;
    border-style: solid;
    font-size: larger;
  }
  #Recipe-List {
    column-count: 2;
  }
</style>
